@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background: #585c68;
    font-size: 14px;
    line-height: 22px;
    color: #555555;
}

.bold{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.semi_bold{
    font-weight: 500;
    font-size: 16px;
}

.resume{
    width: 800px;
    height: auto;
    display: flex;
    margin: 50px auto;
}

.resume .resume-kiri{
    width:280px;
    background: #4aced8;
}

.resume .resume-kiri .resume-profile{
    width: 100%;
    height: 280px;
}
.resume .resume-kiri .resume-profile img{
    width: 100%;
    height: 100%;
}
.resume .resume-kiri .resume-content{
    padding: 0 25px;
}

.resume .title{
    margin-bottom: 20;
}

.resume .resume-kiri .bold{
    color: #fff;
}
.resume .resume-kiri .regular{
    color: #b1eaff;
}
.resume .resume-item{
    padding: 25px 0;
    border-bottom: 2px solid #b1eaff;
}
.resume .resume-kiri .resume-item:last-child,
.resume .resume-kanan .resume-item:last-child{
    border-bottom: 0px;
}
.resume .resume-kiri ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.resume .resume-kiri ul li{
    margin-bottom: 0;
}
.resume .resume-kiri ul li .icon{
    width: 35px;
    height: 35px;
    background: #fff;
    color: #0bb5f4;
    border-radius: 15px;
    margin-right: 15px;
    font-size: 16px;
    position: relative;
}
.resume .icon i,
.resume .resume-kanan .resume-interests ul li i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.resume .resume-kiri ul li .data{
    color: #b1eaff;
}
.resume .resume-kiri .resume-skills ul li{
    color: #b1eaff;
    justify-content: space-between;
}
.resume .resume-kiri .resume-skills ul li .skill-name{
    width: 25%;
}
.resume .resume-kiri .resume-skills ul li .skill-progress{
    width: 60%;
    margin: 0 5px;
    height: 5px;
    background: #009fd9;
    position: relative;
}
.resume .resume-kiri .resume-skills ul li .skill-percentage{
    width: 15%;
}
.resume .resume-kiri .resume-skills ul li .skill-progress span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #fff;
}
.resume .resume-kanan{
    width: 520px;
    background: #fff;
    padding: 25px;
}
.resume .resume-kanan .bold{
    color: #0bb5f4;
}
.resume .resume-kanan .resume-organization ul,
.resume .resume-kanan .resume-education ul{
    padding-left: 40px;
    overflow: hidden;
}
.resume .resume-kanan ul li{
    position: relative;
}
.resume .resume-kanan ul li .date{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}
.resume .resume-kanan ul li .info{
    margin-bottom: 20px;
}
.resume .resume-kanan ul li:last-child .info{
    margin-bottom: 0;
}

.resume .resume-kanan .resume-organization ul li:before,
.resume .resume-kanan .resume-education ul li:before{
    content: "";
    position: absolute;
    top: 5px;
    left: -25px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #0bb5f4;
}

.resume .resume-kanan .resume-organization ul li:after,
.resume .resume-kanan .resume-education ul li:after{
    content: "";
    position: absolute;
    top: 14px;
    left: -21px;
    width: 2px;
    height: 115px;
    background: #0bb5f4;
}
.resume .resume-kanan .resume-interests ul{
    display: flex;
    justify-content: space-between;
}
.resume .resume-kanan .resume-interests ul li{
    width: 80px;
    height: 80px;
    margin-top: 20px;
    border: 2px solid #0bb5f4;
    border-radius: 50%;
    position: relative;
    color: #0bb5f4
}
.resume .resume-kanan .resume-interests ul li i{
    font-size: 30px;
}
.resume .resume-kanan .resume-interests ul li:before{
    content: "";
    position: absolute;
    top: 40px;
    right: -52px;
    width: 50px;
    height: 2px;
    background: #0bb5f4;
}
.resume .resume-kanan .resume-interests ul li:last-child:before{
    display: none;
}