*{
    padding: 0;
    margin: 0;
}
body {
    background: #666;
}
.title{
    font-size: 50px;
    background-color: aqua;
    color: rgb(211, 62, 53);
    text-align: center;
}
.grid-item{
    background-color: rgb(28, 230, 146);
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.row .col-sm .image img{
    align-items: center;
    margin: 20px;
    width: 280px;
    height: 280px;
}
.row .col-sm .info{
    margin-left: 20px;
    background: #00aaaa;
    width: 280px;
    height: auto;
    text-align: center;
}